{% extends 'base.html.twig' %}

{% block title %}Modifier une caégorie{% endblock %}

{% block body %}
    <h1>Modifier une caégorie</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('category_index') }}">Retour</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
