{% extends 'base.html.twig' %}

{% block title %}Modifier un plat{% endblock %}

{% block body %}
    <h1>Modifier un plat</h1>

    {{ include('plat/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('plat_index') }}">Retour</a>

    {{ include('plat/_delete_form.html.twig') }}
{% endblock %}
