{% extends 'base.html.twig' %}

{% block title %}Nouveau plat{% endblock %}

{% block body %}

    <h1>Ajouter un plat</h1>

    {{ include('plat/_form.html.twig') }}
    
    <a href="{{ path('plat_index') }}">Retour</a>

{% endblock %}
